---
// BLOG INDEX PAGE: list of posts

import VideoCoursesCard from '../../components/video-courses/components/VideoCourseCard.astro';
import VideoCoursePreview from '../../components/video-courses/components/VideoCoursePreview.astro';
import BaseLayout from "../../layouts/BaseLayout.astro";

const getCourses = await Astro.glob("./**/*.{md,mdx}")

const featured = getCourses
  .filter((p) => {
    return (import.meta.env.DEV ? true : !p.frontmatter.draft);
  })
  .filter((p) => {
    return p.frontmatter.featured && !p.frontmatter.notListed
  })
  .sort(function(a, b) {
    const c: any = new Date(a.frontmatter.videoSeries.idx);
    const d: any = new Date(b.frontmatter.videoSeries.idx);
    return c-d;
  });

const courses = getCourses
  .filter((p) => {
    return (import.meta.env.DEV ? true : !p.frontmatter.draft);
  })
  .filter((p) => {
    return !p.frontmatter.featured
  })
  .sort(function(a, b) {
      const c: any = new Date(a.frontmatter.videoSeries.idx);
      const d: any = new Date(b.frontmatter.videoSeries.idx);
      return c-d;
  });
const images = import.meta.glob<ImageMetadata>('./**/*', { import: 'default' })
---

<BaseLayout pageTitle="Fabio Biondi | Video Corsi" description="Fabio Biondi - Front-End Training">

  <div class="page page-xxl ">
  
    <h1 class="my-3 text-center themetxt">
      <div class="text-3xl md:text-4xl xl:text-6xl ">Video Courses</div>
    </h1>
    <div class="text-center my-6">
      <span class="text-2xl bg-slate-200 dark:text-slate-400 dark:bg-slate-900 rounded-2xl px-6 py-2">Italian only 🇮🇹</span>
    </div>


    <div class="grid grid-cols-1 xl:grid-cols-2 gap-4 mb-12 text-center">

      {
        featured.map(async (post: any, i: number) => {
          const path = `./${post.frontmatter.slug}/${post.frontmatter.image.url}`
          const imagesrc = await images[path]()

          return (

            <VideoCoursePreview
              item={post}
              image={imagesrc}
            />

          )
        })
      }

    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-4 mb-12 text-center">

      {
        courses.map(async (post: any, i: number) => {
          const path = `./${post.frontmatter.slug}/${post.frontmatter.image.url}`
          const imagesrc = await images[path]()

          return (

            <VideoCoursesCard
              item={post}
              image={imagesrc}
            />

          )
        })
      }

    </div>


{/*
    <br /><br />

    <h1 class="text-3xl my-3">Dev To Articles</h1>
    
    <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-4">

      {
        devToArticles?.map((article: any, i: number) => 
          <div class="card shadow-xl bg-slate-900 mb-4">
            {article.cover_image && <figure><img src={article.cover_image} alt="Shoes" /></figure>}
            <div class="card-body">

              <a class="card-title text-white hover:text-pink-500 text-ellipsis" href={article.slug}>{article.title}</a> 
              <p class="text-slate-600">{article.description}</p>
              <div class="card-actions">
              </div>
            </div>
          </div>
        )
      }

    </div>
    */}
  </div>
</BaseLayout>

<style>
  .page-min {
    min-height: calc(100vh - 500px);
  }
</style>
