---
import "./VideoCourses.css";

import BaseLayout from "../../layouts/BaseLayout.astro";
import VideoCoursesHero from './components/VideoCourseHero.astro';
import NewsLetterPanel from "src/components/panels/NewsLetterPanel";
import SocialBar from "src/components/panels/SocialBar.astro";

const { frontmatter } = Astro.props;

// Trick to load images
const images = import.meta.glob<ImageMetadata>('/src/pages/**/*.{png,svg,jpg,gif,webp}', { import: 'default' });
const imageBlur = await images[`/src/pages/video-courses/${frontmatter.slug}/${frontmatter.image.blur}`]();
const imageUrl = await images[`/src/pages/video-courses/${frontmatter.slug}/${frontmatter.image.url}`]();
// image for social only when specified (2023 feature so old courses does not have it)
const imageSocial = frontmatter.image.social ?
  await images[`/src/pages/video-courses/${frontmatter.slug}/${frontmatter.image.social}`]() :
  imageUrl

---

<BaseLayout
  pageTitle={frontmatter.title}
  description={frontmatter.description}
  frontmatter={frontmatter}
  image={imageSocial.src}
>

  <div class=" 3xl:max-w-screen-3xl mx-auto">
    <VideoCoursesHero
      frontmatter={frontmatter}
      imageUrl={imageUrl}
      imageBlur={imageBlur}
    ></VideoCoursesHero>

     <SocialBar />

    <div class="video-course mt-8 md:mt-12">
      <slot />
    </div>
  </div>


   <NewsLetterPanel
    client:visible
    newsListId="0817a264-d1bf-47a3-ae83-d39fd2bd3489"
    promoListId="b2c160b2-e01d-4a2a-984f-2f96f3c12cd5"
  />
</BaseLayout>


