---
import { Image } from 'astro:assets';

const { title, items, bg } = Astro.props;

---
<div class="relative page">

  <h1 class="mt-16">{title}</h1>

  <div class="text-xl mb-8"><slot/></div>

  <div class="grid grid-cols-1 md:grid-cols-2 grid-flow-row gap-12">
    {
      items.map(item => {
        return (
          <div class:list={[
            "p-3 md:p-8 rounded-3xl ",
            {'bg-slate-900 ': bg}
          ]}>


            <!--TEXT + IMAGE-->
            {
              item.image &&
                <div class:list={['flex flex-col md:flex-row items-center gap-4', { 'text-white': bg}]}>

                      <div class="w-full md:w-1/3 flex justify-center">
                        <Image class="rounded-sm sm:rounded-2xl"
                               src={item.image} quality={80} alt={item.t}
                               height={200}
                               fit="inside"
                               aspectRatio={0.9}
                        />
                        {/* <img
                        class="w-24 md:w-48"
                        src={item.image}
                        alt={item.t}
                      > */}
                      </div>


                  <div class:list={['w-full md:w-2/3', {'order-first': item.align === 'right'}]}>
                    <h2 set:html={item.t}></h2>
                    <div class="text-md" set:html={item.d} />
                  </div>

                </div>
              }

            <!--TEXT ONLY-->
            {
              !item.image &&
                <div class:list={['w-full', {'order-first': item.align === 'right'}]}>
                  <h2 set:html={item.t}></h2>
                  <div class="text-md" set:html={item.d} />
                </div>
            }

          </div>
        )
      })
    }
  </div>
</div>
