---
const { frontmatter, left, center, right } = Astro.props;

---

<div id="video-course-pricing">
  <div class="px-4 pt-12 sm:px-6 lg:px-8 lg:pt-20">
    <div class="text-center">
      <h1 class="font-semibold leading-6 dark:text-gray-300">Acquista il corso</h1>
      <p class="mx-auto mt-3 max-w-4xl text-xl dark:text-gray-300 sm:mt-5 sm:text-2xl">
        Accedi al materiale dove e quando vuoi... per sempre! 
      </p>
    </div>
  </div>

  <div class="mt-16 pb-12 lg:mt-20 lg:pb-20">
    <div class="relative z-0">
      <div class="absolute inset-0 h-5/6 lg:h-2/3"></div>
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="relative lg:grid lg:grid-cols-7">
          {left && <div class="mx-auto max-w-md lg:col-start-1 lg:col-end-3 lg:row-start-2 lg:row-end-3 lg:mx-0 lg:max-w-none">
            <div class="flex h-full flex-col overflow-hidden rounded-lg shadow-lg lg:rounded-none lg:rounded-l-lg">
              <div class="flex flex-1 flex-col">
                <div class="bg-white px-6 py-10">
                  <div>
                    <h3 class="text-center text-2xl font-medium text-gray-900" id="tier-hobby">
                      {left.title}
                    </h3>
                    <div class="mt-4 flex items-center justify-center">
                      <span class="flex items-start px-3 text-6xl tracking-tight text-gray-900">
                        <span class="mt-2 mr-2 text-4xl font-medium tracking-tight">{left.price.currency}</span>
                        <span class="font-bold">{left.price.value}</span>
                      </span>
                      <div>
                        <div class="text-xl font-medium text-gray-500">+ iva</div>
                        <div class="text-xl font-medium text-gray-500">{left.price.unit}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex flex-1 flex-col justify-between border-t-2 border-gray-100 bg-gray-50 ">
                  <div class="pr-6 sm:pr-10 lg:pr-6 xl:pr-10">
                    {left.text && <div class="text-xl text-slate-800 text-center">{left.text}</div>}
                    {left.text && <div class="text-xl text-slate-800 text-center">{left.descriptio}</div>}
                    <ul role="list" class="space-y-4 !m-0">
                      {
                        left.items?.map(item => {
                            return (
                            <li class="flex items-center">
                              <div class="flex-shrink-0">
                                <svg class="h-6 w-6 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                                </svg>
                              </div>
                              <p class="ml-3 !text-base font-medium text-slate-800" set:html={item} />
                            </li>
                          )
                        })
                    }
                    </ul>
                  </div>
                  <div class="mt-8">
                    {left.button && <div class="rounded-lg flex justify-center m-4">
                      <a href={left.button.link} target={left.button.target || '_self'}
                      class="block w-full  bg-slate-200  hover:bg-slate-300 text-black rounded-full border border-transparent px-6 py-3 text-center text-base font-medium " aria-describedby="tier-hobby">
                        {left.button.label}
                      </a>
                    </div>}
                  </div>
                </div>
              </div>
            </div>
          </div>}
          <div class="mx-auto mt-10 max-w-lg lg:col-start-3 lg:col-end-6 lg:row-start-1 lg:row-end-4 lg:mx-0 lg:mt-0 lg:max-w-none">
            <div class="relative z-10 rounded-lg shadow-xl">
              <div class="pointer-events-none absolute inset-0 rounded-lg " aria-hidden="true"></div>
              <div class="absolute inset-x-0 top-0 translate-y-px transform">
                <div class="flex -translate-y-1/2 transform justify-center">
                  <span class={`c-${frontmatter.css} inline-flex rounded-full  px-4 py-1 text-base font-semibold text-white`}>
                    {center.badge}
                  </span>
                </div>
              </div>
              <div class="rounded-t-lg bg-white px-6 pt-12 pb-10">
                <div>
                  <h3 class="text-center text-3xl font-semibold tracking-tight text-gray-900 sm:-mx-6" id="tier-growth">
                    {center.title}
                  </h3>

                  {
                  center.description && <h3 class="text-center text-lg mt-3 !font-normal text-gray-900 mx-6">
                    {center.description}
                  </h3>
                  }
                  <div class="mt-4 flex items-center justify-center">
                    <span class="flex items-start px-3 text-6xl tracking-tight text-gray-900 sm:text-6xl">
                      <span class="mt-2 mr-2 text-4xl font-medium tracking-tight">{center.price.currency}</span>
                      <span class="font-bold">{center.price.promo || center.price.value}</span>
                    </span>
                    <span class="text-2xl font-medium text-gray-500"> {center.price.unit}</span>
                  </div>
                  {center.price.promoMsg && <div class="text-black text-center text-lg" set:html={center.price.promoMsg}></div>}

                </div>
              </div>
              <div class="rounded-b-lg border-t-2 border-gray-100 bg-gray-50 px-6 pt-10 pb-8 sm:px-10 sm:py-10">
                {center.text && <div class="text-xl text-slate-800 text-center">{center.text}</div>}
                  <ul role="list" class="space-y-4 !p-0">
                    {
                      center.items?.map(item => {
                          return (
                          <li class="flex items-center">
                            <div class="flex-shrink-0">
                              <svg class="h-6 w-6 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                              </svg>
                            </div>
                            <p class="ml-3 text-md font-medium text-slate-800" set:html={item} />
                          </li>
                        )
                      })
                   }
                  </ul>

                <div class="mt-10">


                  <div class="rounded-lg">

                    {
                    center.button && <a href={center.button.link} target={center.button.target || '_self'} 
                      class:list={[`block w-full rounded-full border border-transparent text-white c-${frontmatter.css} px-6 py-4 text-center text-xl font-medium leading-6`]} aria-describedby="tier-growth">
                        {center.button.label}
                      </a>
                    }
                    {
                    center.disabledButton &&  <div class:list={[`pointer-events-none block w-full rounded-full border border-transparent text-white c-${frontmatter.css} px-6 py-4 text-center text-xl font-medium leading-6`]} aria-describedby="tier-growth">
                        {center.disabledButton.label}
                      </div>
                    }
                  </div>

                  <div class="text-black text-center mt-6 ">
                    <div class="font-bold">Hai bisogno della fattura?</div>
                    <div class="text-sm">
                    Devi inserire i dati in fase di acquisto cliccando il checkbox "Add a business tax ID" o non sarà più possibile richiederla
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         { right && <div class="mx-auto mt-10 max-w-md lg:col-start-6 lg:col-end-8 lg:row-start-2 lg:row-end-3 lg:m-0 lg:max-w-none">
            <div class="flex h-full flex-col overflow-hidden rounded-lg shadow-lg lg:rounded-none lg:rounded-r-lg">
              <div class="flex flex-1 flex-col">
                <div class="bg-white px-6 py-10">
                  <div>
                    <h3 class="text-center text-2xl font-medium text-gray-900" id="tier-scale">
                      {right.title}
                    </h3>
                    <div class="mt-4 flex items-center justify-center">
                      <span class="flex items-start px-3 text-6xl tracking-tight text-gray-900">
                        <span class="mt-2 mr-2 text-4xl font-medium tracking-tight">{right.price.currency}</span>
                        <span class="font-bold">{right.price.value}</span>
                      </span>


                      <div>
                        <div class="text-xl font-medium text-gray-500">+ iva</div>
                        <div class="text-xl font-medium text-gray-500">{right.price.unit}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex flex-1 flex-col justify-between border-t-2 border-gray-100 bg-gray-50 ">
                  <div class="pr-3">
                    {right.text && <div class="text-xl text-slate-800 text-center">{right.text}</div>}
                    <ul role="list" class="space-y-4 !p-0">
                      {
                        right.items?.map(item => {
                            return (
                            <li class="flex items-center">
                              <div class="flex-shrink-0">
                                <svg class="h-6 w-6 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                                </svg>
                              </div>
                              <p class="ml-3 !text-base font-medium text-slate-800" set:html={item} />
                            </li>
                          )
                        })
                    }
                    </ul>
                  </div>
                  <div class="mt-8">
                    <div>
                      {right.button && <div class="rounded-lg flex justify-center m-4">
                        <a href={right.button.link} target={center.button.target || '_self'}
                        class="bg-slate-200  hover:bg-slate-300 text-black block w-full rounded-full border border-transparent px-6 py-3 text-center text-base font-medium" aria-describedby="tier-hobby">
                          {right.button.label}
                        </a>
                      </div>}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>}
        </div>
      </div>
    </div>
  </div>
</div>
