---
import { Image } from 'astro:assets';
import Tags from '@widgets/Tags.astro';
import VideoCoursesStats from './VideoCoursesStats.astro';

interface Props {
  item: any;
  image: any;
}

const { item, image  } = Astro.props;
---

<div class="relative overflow-hidden bg-slate-200 dark:bg-slate-900 hover:bg-slate-100 dark:hover:bg-slate-700 hover:text-white rounded-2xl p-4 mb-3 transition ">

  {
    item.frontmatter.badge && <div class="absolute bg-orange-700 text-white font-bold -rotate-[24deg] p-1 w-96 -left-28 top-6 text-center">
      {item.frontmatter.badge}
    </div>
  }

  <a href={item.url} class="">

    <div class="w-full">
      <div class="h-48">
        <div class="flex justify-center ">
          <Image
            class=" rounded-t-xl border-b-slate-800 "
            src={image}
            alt={item.frontmatter.title1}
            height={200}
            fit="inside"
            quality={60}
            aspectRatio={1}
          />

        </div>
      </div>

      <div class="flex justify-center">
        <Tags tags={item.frontmatter.tags} />
      </div>

      <div>
        <div class="text-2xl font-bold text-black dark:text-white" set:html={item.frontmatter.title1} />

        <div class="dark:text-white mt-2 pt-2 border-t border-slate-600">
          {
            item.frontmatter.stats?.map(s => {
              return (
                <div>
                  <span class="font-bold text-xl text-black dark:text-white">{s.v}</span>
                  <span class="text-xl text-black dark:text-white">{s.unit}</span>
                  <span class=" text-md text-black dark:text-white">{s.text}</span>
                </div>
              )
            })
          }

        </div>

      </div>
    </div>

  </a>

</div>
