---
import { Image } from 'astro:assets';
import Tags from '@widgets/Tags.astro';
import VideoCoursesStats from './VideoCoursesStats.astro';

interface Props {
  item: any;
  image: any;
}

const { item, image  } = Astro.props;
---

<div class="relative overflow-hidden bg-slate-200 dark:bg-slate-900 hover:bg-slate-100 dark:hover:bg-slate-700 hover:text-white rounded-2xl p-4 mb-3 transition ">

  {
    item.frontmatter.badge && <div class="absolute bg-sky-700 text-white font-bold -rotate-[24deg] p-1 w-96 -left-28 top-6 text-center">
      {item.frontmatter.badge}
    </div>
  }

  <a href={item.url} class="">

    <div class="w-full gap-4">
        <div class="flex justify-end ">
          <div class="w-1/2 text-left">
            <div class="m-0 text-4xl  font-extrabold  outline-text mt-24" set:html={item.frontmatter.title1} />
            <div class="dark:text-white mt-4 pt-4 ">
              {
                item.frontmatter.stats?.map(s => {
                  return (
                    <div>
                      <span class="font-bold text-2xl text-black dark:text-white">{s.v}</span>
                      <span class="text-2xl text-black dark:text-white">{s.unit}</span>
                      <span class=" text-2xl text-black dark:text-white">{s.text}</span>
                    </div>
                  )
                })
              }

            </div>
          </div>

          <div class="w-1/2">
            <Image
              class=""
              src={image}
              alt={item.frontmatter.title1}
              height={500}
              fit="inside"
              quality={60}
              aspectRatio={1}
            />
          </div>


      </div>

      <div class="text-left">

        <div>
          <div class="text-xl text-black dark:text-white mt-8" set:html={item.frontmatter.description} />
          <div class="mt-4">
            <div class="flex">
              <Tags tags={item.frontmatter.tags} />
            </div>
          </div>

        </div>
      </div>
    </div>

  </a>

</div>
