---
import { Image } from 'astro:assets';
import DesktopWindow from './DesktopWindow.astro';

interface Props {
  src: string | any;
  align?: "center" | "end" | "start" ;
  border?: boolean;
  alt?: string;
  quality?: number;
  w?: number;
  isWindowed?: boolean;
}

const { src, alt = '', w = undefined, quality = 80, border, align = 'center', isWindowed = true } = Astro.props;

---

{
isWindowed ? 

  <DesktopWindow isDark >
    <div class:list={[' my-3    ', {
    
      'w-full': true
      }]}>
      <div class:list={['flex w-full', {
        'p-1 sm:p-6 ': border,
        'justify-left': align === 'start',
        'justify-center': align === 'center',
        'justify-end': align === 'end',
      }]}>
        <div class="relative">
          <div class="z-20 relative">
            <Image class="rounded-sm sm:rounded-2xl" src={src} quality={80} alt={alt} width={w} />
          </div>
          <div class="z-0 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
  </DesktopWindow>  :
    <div class:list={['flex w-full', {
      'p-0 sm:p-6 ': border,
      'justify-left': align === 'start',
      'justify-center': align === 'center',
      'justify-end': align === 'end',
    }]}>
      <Image class="rounded-sm sm:rounded-2xl" src={src} quality={80} alt={alt} width={w} />
    </div>


}
