---
import { Image } from 'astro:assets';
import Stats from './Stats.astro';

import TutorialSeries from './TutorialSeries.astro';

interface Props {
  frontmatter: any;
  imageBlur: any;
  imageUrl: any;
  seriesUrl: any;
  showSeriesPanel?: boolean
}

const { frontmatter, imageBlur, imageUrl, seriesUrl, showSeriesPanel = false  } = Astro.props;


---



<div id="tutorialHero" class="flex flex-col xl:flex-row mt-0 xl:mt-12 relative gap-x-16 gap-y-8">
  
  {
    imageBlur && 
      <div class="absolute -top-10 left-0  blurFix blur-3xl w-full h-full opacity-20 pointer-events-none">
        <Image
          class="w-full rounded-3xl"
          fit="cover"
          width={400}
          quality={10}
          height={140}
          aspectRatio={4/3}
          src={imageBlur}
          alt={frontmatter.image.alt || 'blurred image'} 
        />
      </div>
  }

    <div class="w-full xl:w-2/3 text-center xl:text-start">
      <h2 class="m-0 my-3 text-3xl xl:text-4xl 3xl:text-7xl font-thin themetxt">{frontmatter.title1}</h2>
      <h2 class="m-0 text-3xl md:text-4xl lg:text-4xl xl:text-6xl 3xl:text-8xl font-extrabold themetxt">{frontmatter.title2}</h2>
      <p class="m-0 mt-3 text-normal sm:text-xl 3xl:text-2xl themetxt" set:html={frontmatter.description}></p>
     
      <div class="flex justify-center xl:justify-start">
        <Stats frontmatter={frontmatter} />
      </div>

    </div>

    
    <div class="flex justify-center xl:justify-end">
      <div class="w-full">
        <!-- 
        <div class="w-full max-w-xl  flex justify-center xl:justify-end order-first md:order-none">
          {
           
          }
        </div> -->
        <TutorialSeries frontmatter={frontmatter} primary seriesUrl={seriesUrl}/>
      </div>
    </div>
</div>

<!-- When user scroll to this point the ScrollToArrow is shown -->
<!-- <div id="showArrowScrollTrigger"></div> -->


<!-- <div class="border-t border-slate-700 block md:hidden"></div> -->
