---
import { Image } from 'astro:assets';

const { frontmatter, primary = true, secondary, accent, seriesUrl } = Astro.props;

const allTutorials = await Astro.glob("../../pages/**/*.{md,mdx}");

const series = allTutorials
  .filter((p) =>  import.meta.env.DEV ? true : !p.frontmatter.draft)
  .filter(p => p.frontmatter?.series?.name === frontmatter.series?.name)
  .sort((a, b) => a?.frontmatter?.series?.idx - b?.frontmatter?.series?.idx)


---



<div class="w-full flex justify-center">

  {
  series.length > 1 ?
    ( 
      <div class="w-full text-center relative overflow-hidden ">

        <div class="absolute bg-sky-700 text-white font-bold -rotate-[24deg] p-1 w-96 -left-28 top-6 text-center">
          SERIES
        </div>
        

        <div class:list={[
          'p-6 m-0 rounded-box w-full',
          { 'bg-slate-900': primary },
          { 'bg-slate-600': secondary },
          { 'bg-pink-600': accent },
        ]}>

          <div class="flex flex-col gap-2">
            <div class="flex  justify-center">
              {
              seriesUrl && <Image 
                    src={seriesUrl} 
                    alt={frontmatter.image.alt || 'PlayList Series'} 
                    width={200}
                    quality={50}
                    fit="outside"
                    aspectRatio={1}
                /> 
              }</div>
              <span class="text-white text-3xl font-extrabold pb-3 pt-0">{frontmatter?.series?.name}</span>
          </div>


          <div class="steps steps-vertical ">

            {
                series.map((s) => {
                  const isCurrentPage = `${s.frontmatter.slug}/${s.frontmatter.route}` === `${frontmatter.slug}/${frontmatter.route}`;
                  return (
                    <a
                      href={`/tutorials/${s.frontmatter.slug}/${s.frontmatter.route}` } 
                      style="text-align:left"
                      class:list={['step no-underline', {'step-info pointer-events-none': isCurrentPage}]}
                    >
                      <span class:list={['text-white hover:text-sky-500 w-full',  {'text-info ': isCurrentPage} ]}>
                        {s.frontmatter.title}
                      </span>
                  </a>
                  )
                })
              }
              
            </div>
        </div>
      </div>
    ) : (
      <div>
        {
          // there is only one article in this series
          seriesUrl &&  <Image 
            src={seriesUrl} 
            class="w-96 hidden xl:block"
            alt={frontmatter.image.alt || 'PlayList Series'} 
            width={300}
            quality={50}
            fit="outside"
            aspectRatio={1}
          />
        } 
      </div>
    )
}
</div>

<style>
  .steps .step:before {
    @apply bg-slate-800
  }
  .steps .step:after {
    @apply bg-slate-800
  }
  .steps .step-info:after {
    @apply text-white bg-sky-500
  }
</style>

