---
import { PlayListPlayerItem } from "src/api/youtube-playlist";
import { Image } from 'astro:assets';
import * as W from '@widgets'

const {videos } = Astro.props;
---

<style>
  .circles {
    background: radial-gradient(circle at center, #222 20%, transparent 22%),#000;
    background-size: 48px 48px;
    height: 48px;
  }
</style>

<!-- circles -->
<!-- 
<div class="flex flex-col sm:flex-row justify-center items-center gap-4  mt-24">
  <Image 
    class="rounded-xl"
    src={'/images/brand/yt-emote.png'}  
    alt="" 
    width={140}
    quality={50}
    fit="outside"
    aspectRatio={1} 
  /> 

  
  <div class="text-center sm:text-left"> 
    <div class="text-3xl sm:text-4xl mb-3 themetxt"> Latest YouTube Videos </div>
    <a href="https://www.youtube.com/c/FabioBiondi" class="px-6 py-2 font-bold rounded-xl bg-red-600 hover:bg-red-700 transition text-white">
     Visit my YouTube Channel
    </a>
  </div>
</div> -->


<!--
<div class="page ">
  <div class="flex flex-col sm:flex-row justify-between items-center gap-3">
     
    
    <div class="text-center sm:text-left"> 
      <div class="text-3xl sm:text-4xl mb-3 themetxt">  YouTube Videos </div>
      
    </div>
    <div>
      <a href="https://www.youtube.com/c/FabioBiondi" class="px-6 py-2 font-bold rounded-xl bg-red-600 hover:bg-red-700 transition text-white">
        MY CHANNEL
       </a>
    </div>
  </div>
</div>
-->

<div class="flex  justify-center items-center gap-3 text-center">
  <a href="https://www.youtube.com/c/FabioBiondi" target="_blank"
     class="m-0 text-4xl sm:text-5xl md:text-7xl font-extrabold  outline-text">
    YouTube Videos
  </a>

  <!--
  <div>
    <a href="/tutorials" class="px-6 py-2 font-bold rounded-2xl bg-purple-600 hover:bg-purple-700 transition text-white">MORE TUTORIALS...</a>
  </div>
  -->
</div>


<!-- <div class="bg-black circles"></div> -->

<div class="bg-gradient-to-t from-black to-grat-800 py-0 mt-8">


   <!-- content -->
   <div class="w-full sm:flex sm:justify-center sm:items-center px-3">

    <div class="	 grid sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-6  gap-4">
      {
        videos.items.map((item: PlayListPlayerItem, i) => {
          const videoUrl = `https://www.youtube.com/watch?v=${item.youtubeId}`;
    
          return (
          
                <div 
                  class="flex w-full px-3 py-3 cursor-pointer"
                  data-aos="zoom-in" data-aos-delay={i * 50} data-aos-easing="ease-in-sine"
                >
                  <!--<a class="w-full " rel="noopener" href={videoUrl} target="_blank">
                    <figure class="w-full">
                      <img src={item.imageSmall} width="100%" class="  aspect-video  hover:opacity-70 transition  rounded-xl " alt={item.text} 
                    /></figure>
                  </a>
                  -->
                  <W.YT_Trigger id={item.youtubeId}  class="w-full">
                    <figure class="w-full">
                      <img src={item.imageSmall} width="100%" class="  aspect-video  hover:opacity-70 transition  rounded-xl " alt={item.text}
                    /></figure>
                  </W.YT_Trigger>

                </div>
          )
        })
      }
      </div>
  </div>
{
/*
   <div data-aos="" class="flex flex-col md:flex-row flex-wrap">
    {
      videos.items.map((item: PlayListPlayerItem, i) => {
        const videoUrl = `https://www.youtube.com/watch?v=${item.youtubeId}`;
  
        return (
        <div class="w-full md:w-1/2 lg:w-1/3 2xl:w-1/6">
         
              <div 
                class="card bg-base-100 m-2 dark:bg-slate-900 opacity-70 hover:opacity-100 transition h-full" 
                data-aos="fade-right" data-aos-delay={i * 100} data-aos-easing="ease-in-sine"
              >
                <a rel="noopener" href={videoUrl} target="_blank">
                  <figure>
                  <img src={item.imageSmall} class="w-full rounded-t-xl  " alt={item.text} /></figure>
                </a>
                <div class="card-body">
                  <div class="badge badge-secondary">NEW</div>
                  <div class="card-title">
                    <a rel="noopener" href={videoUrl} target="_blank" class="no-underline text-slate-800 dark:text-white ">
                      {item.text}
                      </a>
                  </div>
                  <div class="h-48 text-ellipsis overflow-hidden text-slate-400 text-slate-800 dark:text-white  ">
                    {item.description.substring(0, 200)}...
                  </div>
  
                </div>
              </div>
          </div> 
        )
      })
    }
    </div>
 */
}
</div>

<!-- circles -->
<div class="bg-black circles"></div>
