---
import "../styles/global.css";
import Header from "../components/core/Header.astro";
import Footer from "../components/core/Footer.astro";
import * as W from '@widgets'
import { SEO } from "astro-seo";
import CompactView from "src/components/core/CompactView.astro";
// import ScrollToArrow from "src/components/core/ScrollToArrow.astro";

const {
  pageTitle,
  description = "",
  frontmatter = null,
  image = null,
  hideNavBar,
} = Astro.props;

// const baseUrl = "https://astro-fabiobiondi-blog.vercel.app";

console.log('...', Astro.url.pathname, Astro.site)
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
// const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = image
  ? new URL(image, Astro.url)
  : new URL("/images/default-share-img-256.png", Astro.url);
---

<html lang="en" >
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/svg+xml" href="/favicon-16x16.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon-16x16.png" /> -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta name="facebook-domain-verification" content="6utfysbhmmy73m1e92ula8glanfv79" />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- <title>{pageTitle}</title>
    <meta name="description" content={description}> -->
    <SEO
      title={pageTitle + ' ' || "Fabio Biondi | Front-End Tutorials"}
      description={description}
      canonical={canonicalURL.href}
      openGraph={{
        image: {
          url: socialImageURL.href,
          alt: pageTitle,
        },
        basic: {
          title: pageTitle,
          type: description || "Fabio Biondi | Front-End Tutorials",
          image: socialImageURL.href,
          url: canonicalURL.href,
          // image: 'https://astro-fabiobiondi-blog.vercel.app/images/default-share-img.png'
        },
        article: {
          publishedTime: frontmatter && frontmatter.pubDate,
          // modifiedTime: frontmatter && frontmatter.pubDate,
          // expirationTime: frontmatter && frontmatter.pubDate,
          authors: [frontmatter ? frontmatter.author : "Fabio Biondi"],
          section: "Programming",
          tags: frontmatter && frontmatter.tags,
        },
      }}
      extend={{
        // link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          {
            name: "twitter:image",
            // content: image || "/images/default-share-img.png",
            property: socialImageURL.href || "/images/default-share-img.png",
          },
          { name: "twitter:title", property: pageTitle },
          { name: "twitter:description", property: description },
        ],
      }}
    />
    <!-- <script is:inline src="/helpers/theme.utils.js"></script> -->
    <script is:inline>
      const currentTheme = localStorage.getItem('theme') || (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");

      // Get the current theme from local storage
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }

      // If the current local storage item can be found
      if (currentTheme) {
        // Set the body data-theme attribute to match the local storage item
        document.documentElement.setAttribute("data-theme", currentTheme);
        window.localStorage.setItem("theme", currentTheme);
        //document.documentElement.classList.add("dark");
        // If the current theme is dark, check the theme toggle
        // if (currentTheme === "dark") {
        //   themeToggle.checked = true;
        // }
      }
    </script>

  </head>
  <body>

    <W.YT_Modal ></W.YT_Modal>


    <div class="mx-3 lg:mx-10 my-4">
      {!hideNavBar && <Header />}
    </div>
    <div>
      <slot />
      <Footer />
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

      <script>
        import AOS from "aos";
        AOS.init();
      </script>

      <script src="../helpers/code.utils"></script>

      <!-- Matomo -->
      <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
        _paq.push(["setCookieDomain", "*.fabiobiondi.dev"]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u="//matomo.fabiobiondi.io/";
          _paq.push(['setTrackerUrl', u+'matomo.php']);
          _paq.push(['setSiteId', '2']);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
      </script>
      <!-- End Matomo Code -->

      <!-- End Matomo Code -->

      <!-- COOKIE IUBENDA -->
      <script type="text/javascript">
        var _iub = _iub || [];
        _iub.csConfiguration = {
          askConsentAtCookiePolicyUpdate: true,
          ccpaAcknowledgeOnDisplay: true,
          consentOnContinuedBrowsing: false,
          countryDetection: true,
          enableCcpa: true,
          enableLgpd: true,
          floatingPreferencesButtonDisplay: "bottom-right",
          invalidateConsentWithoutLog: true,
          lang: "en",
          lgpdAppliesGlobally: false,
          perPurposeConsent: true,
          siteId: 2903640,
          whitelabel: false,
          cookiePolicyId: 19604960,
          banner: {
            acceptButtonDisplay: true,
            closeButtonDisplay: false,
            customizeButtonDisplay: true,
            explicitWithdrawal: true,
            listPurposes: true,
            position: "bottom",
            rejectButtonDisplay: true,
          },
        };
      </script>

      <script type="text/javascript" src="//cdn.iubenda.com/cs/ccpa/stub.js"></script>

      <script
        type="text/javascript"
        src="//cdn.iubenda.com/cs/iubenda_cs.js"
        charset="UTF-8"
        async
      ></script>
    </div>

    <CompactView />
  </body>
</html>
