---
import "./Post.css";

import BaseLayout from "./BaseLayout.astro";
import PostHero from '@widgets/PostHero.astro';
import NewsLetterPanel from "src/components/panels/NewsLetterPanel";
import SocialBar from "src/components/panels/SocialBar.astro";

const { frontmatter } = Astro.props;

// Trick to load images 
// const images = import.meta.glob<ImageMetadata>('/src/pages/posts/**/*.{png,svg,jpg,gif,webp}', { import: 'default' })
// const imageBlur = await  images[`/src/pages/posts/${frontmatter.slug}/${frontmatter.image.blur}`]()
// const imageUrl = await  images[`/src/pages/posts/${frontmatter.slug}/${frontmatter.image.url}`]()

// const images = import.meta.glob<ImageMetadata>('/src/pages/**/*.{png,svg,jpg,gif,webp}', { import: 'default' })
// const imageBlur = await  images[`/src/pages/${frontmatter.slug}/${frontmatter.image.blur}`]()
// const imageUrl = await  images[`/src/pages/${frontmatter.slug}/${frontmatter.image.url}`]()

const images = import.meta.glob<ImageMetadata>('/src/pages/**/*.{png,svg,jpg,gif,webp}', { import: 'default' })
const imageBlur = await  images[`/src/pages/blog/${frontmatter.slug}/${frontmatter.image.blur}`]()
const imageUrl = await  images[`/src/pages/blog/${frontmatter.slug}/${frontmatter.image.url}`]()

---
  
<BaseLayout
  pageTitle={frontmatter.title} 
  description={frontmatter.description} 
  frontmatter={frontmatter}
  image={imageUrl.src}
> 
  
  <div class="page 3xl:max-w-screen-3xl mx-auto">
    <PostHero 
      frontmatter={frontmatter} 
      imageUrl={imageUrl}
      imageBlur={imageBlur}
    ></PostHero>
  </div>

  <SocialBar />
  
  <div class="page">
    <div class="content mt-16 md:mt-36">  
      <slot /> 
    </div>

    <!--
    <div class="my-12">
      <Toggle title="Write a Comment">
        <Disqus slug={frontmatter.slug} /> 
      </Toggle>
    </div>
    -->
  </div>





   <NewsLetterPanel
    client:visible
    newsListId="0817a264-d1bf-47a3-ae83-d39fd2bd3489"
    promoListId="b2c160b2-e01d-4a2a-984f-2f96f3c12cd5"
  /> 
</BaseLayout>


